{{>layouts/header}}



<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <!--        <th scope="col">Handle</th>-->
    </tr>
    </thead>
    <!--    <tbody>-->
    <!--    <tr>-->
    <!--        <th scope="row">1</th>-->
    <!--        <td>Mark</td>-->
    <!--        <td>Otto</td>-->
    <!--        <td>@mdo</td>-->
    <!--    </tr>-->
    <!--    <tr>-->
    <!--        <th scope="row">2</th>-->
    <!--        <td>Jacob</td>-->
    <!--        <td>Thornton</td>-->
    <!--        <td>@fat</td>-->
    <!--    </tr>-->

    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}

    </tbody>
</table>

<a href="/articles/new">New Article</a>

{{>layouts/footer}}
